:root {
  --color-article-title: #365899;
  --color-header: #4267b2;
  --color-header-text: #fff;
  --color-main: #fff;
  --color-main-separator: #e5e5e5;
  --color-main-text: #1d2129;
  --color-nav: #e9ebee;
  --color-nav-text: #1d2129cc;
  --color-thumbnail-border: #1d212944;
}