@import 'theme/colors.css';

.component {
  background-image: url(../img/avatar.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  flex: 1;
  overflow: hidden;
}